<h1>Lists:</h1>

<ul>
  <% @lists.each do |list| %>
  <li><%= link_to list.name, list_path(list.id) %></li>
  <%end%>
</ul>

<%= link_to "+ add a new list",  new_list_path%>

<%= link_to "check out all movies",  new_list_path%>
